## Loading, Indexing and Reindexing

## Step 1: Import the Required Library

- Import the pandas library

In [ ]:
import pandas as pd

## Step 2: Load the Dataset

- Load the __HousePrices.csv__ dataset using pandas:

In [ ]:
df = pd.read_csv('HousePrices.csv')

In [ ]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**Observation**

Here, we can see the house price data.

## Step 3: Display the DataFrame Columns

- Display the columns of the DataFrame:

In [ ]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

**Observation**

These are the columns present in the DataFrame **df**.

## Step 4: Set the Index and Reset the Index

- Set the **date** column as the index and then reset the index

- Keep **inplace = True**

In [ ]:
df.set_index(['date'],inplace=True)

In [ ]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**Observation**

Now, the index of the DataFrame is **date**.

Reset the index using reset_index()

Keep **inplace = True**

In [ ]:
df.reset_index(inplace=True)

## Step 5: Set the Index While Reading the CSV File

We can also set the required column as the index while reading the CSV file.

- Set the **date** column as the index while reading the CSV file by adding another parameter **index_col**

In [ ]:
df = pd.read_csv('HousePrices.csv',index_col=['date'])

In [ ]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**Observation**

Now, **date** is set as the index.

## Step 6: Reset the Index

- Reset the index of the DataFrame:

In [ ]:
df.reset_index(inplace=True)

We can also set multiple indexes for a DataFrame. For this, give the multiple column names as a list to set_index().

- Set multiple columns ['date', 'statezip'] as indexes:

In [ ]:
set_index(['date','statezip'],inplace=True)

In [ ]:
df.head()

                                  price  bedrooms  bathrooms  sqft_living  \
date                statezip
2014-05-02 00:00:00 WA 98133   313000.0       3.0       1.50         1340
                    WA 98119  2384000.0       5.0       2.50         3650
                    WA 98042   342000.0       3.0       2.00         1930
                    WA 98008   420000.0       3.0       2.25         2000
                    WA 98052   550000.0       4.0       2.50         1940

                              sqft_lot  floors  waterfront  view  condition  \
date                statezip
2014-05-02 00:00:00 WA 98133      7912     1.5           0     0          3
                    WA 98119      9050     2.0           0     4          5
                    WA 98042     11947     1.0           0     0          4
                    WA 98008      8030     1.0           0     0          4
                    WA 98052     10500     1.0           0     0          4

                              sqft_above  sqft_basement  yr_built  \
date                statezip
2014-05-02 00:00:00 WA 98133        1340              0      1955
                    WA 98119        3370            280      1921
                    WA 98042        1930              0      1966
                    WA 98008        1000           1000      1963
                    WA 98052        1140            800      1976

                              yr_renovated                    street  \
date                statezip
2014-05-02 00:00:00 WA 98133          2005      18810 Densmore Ave N
                    WA 98119             0           709 W Blaine St
                    WA 98042             0  26206-26214 143rd Ave SE
                    WA 98008             0           857 170th Pl NE
                    WA 98052          1992         9105 170th Ave NE

                                   city country
date                statezip
2014-05-02 00:00:00 WA 98133  Shoreline     USA
                    WA 98119    Seattle     USA
                    WA 98042       Kent     USA
                    WA 98008   Bellevue     USA
                    WA 98052    Redmond     USA

**Observation**

Now, there are two indexes for the DataFrame.