## __Importing and Exporting Data in Python__

 We'll cover the following methods in pandas:
1. Writing JSON
2. Reading JSON
3. Writing Excel
4. Reading Excel
5. Writing gzip files
6. Reading gzip files

## Step 1: Import Pandas

In [ ]:
import pandas as pd

## Step 2: Read the CSV File

- Read the CSV file using the pd.read_csv() function:

In [ ]:
df = pd.read_csv('Sample_File.csv')

## Step 3: Display the First Few Rows

- Display the first few rows of the DataFrame using the .head() method:

In [ ]:
df.head()

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

__Observation__

- These are the contents of the CSV file.

## Step 4: Write a JSON File

- Write the DataFrame to a JSON file using the .to_json() method:

In [ ]:
df.to_json('Sample_File_json.json')

## Step 5: Read the JSON File

- Read the JSON file using the pd.read_json() function:

In [ ]:
df = pd.read_json('Sample_File_json.json')

## Step 6: Display the DataFrame

- Display the DataFrame:

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

## Step 7: Write to an Excel File

- Write the DataFrame to an Excel file using the .to_excel() method:

In [ ]:
df.to_excel('Sample_File_Excel.xls',index = False)

## Step 8: Read an Excel File

- Read the Excel file using the pd.read_excel() function:

In [ ]:
df = pd.read_excel('SampleExcelFile.xls')

## Step 9: Display the DataFrame

- Display the DataFrame:

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

## Step 10: Write to a GZIP File

- Write the DataFrame to a GZIP file using the .to_csv() method with **compression=gzip**:

In [ ]:
df.to_csv('SampleFilegzip.gz',compression='gzip',index = False)

## Step 11: Read the GZIP File

- Read the GZIP file using the pd.read_csv() function:

In [ ]:
df = pd.read_csv('SampleFilegzip.gz')

## Step 12: Display the DataFrame

- Display the DataFrame:

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male